html {
    background-color: #8eda79;
}
body {
    width: 800px;
    margin: 0 auto;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
h1 {
    font-size: 60px;
}
.bold {
    font-weight: bold;
}
p.bold {
    text-decoration:underline;
}
li.bold {
    font-style: italic;
}
#subjectintro {
    color: rgb(106, 236, 193);
}
div.coolbox{margin: 10px;
    padding: 20px;
    border: lightblue dotted 3px;
 }
