html {
    background-color: #8eda79;
}
body {
    width: 800px;
    margin: 0 auto;
}
p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}
h1 {
<<<<<<< HEAD
    font-size: 60px;

}
.bold {
    font-weight: bold;
}
p.bold {
    text-decoration:underline;
}
li.bold {
    font-style: italic;
}
#subjectintro {
    color: rgb(106, 236, 193);
}
.block {margin: 10px;
    display: block;
    width: 50%;
    border: none;
    padding: 28px;
    font-size: 16px;
    cursor: pointer;
=======
>>>>>>> 9d9bc30793126dfa4c2fd27c9445896264e6b906
    text-align: center;
    font-size: 60px
}
button {
    text-align: center;
    width: 100%;
    height: 100%;
    color: rgb(6, 78, 47);
    font-size: 30px

}
